@import "bootstrap";
//@import "reset";
@import "variables";

/*universal*/
html{
	overflow-y: scroll;
}

body{
	background-color: $dark-gray;
	padding-top: 60px;
}
#main-container{
	margin-left: 1rem;
}

h1,h2,h3,p{color: $white}
h1, h2, h3, h4, h5, h6{line-height: 1;}

h1{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
}
p{
	font-size: 1.2em;
	line-height: 1.7em;
}

section{
	overflow: auto;
}

textarea{
	resize:vertical;
}
.center{
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}



//Header/Navbar
.navbar{
	.navbar-inner{
		background-image: none;//to undo the bootstrap black
		background-color: $red;
		#logo{
			float: left;
			margin-right: 10px;
			font-size: 1.7em;
			// text-transform: uppercase;
			letter-spacing: -1px;
			padding-top: 9px;
			font-weight: bold;
			line-height: 1;
			color:$dark-gray;
			&:hover{
				color: lighten($dark-gray, 5%);
				text-decoration: none;
			}
		}
		#application-navbar-right li a{
			color: $dark-gray;
			font-weight: bold;
			&:hover{
				color: lighten($dark-gray, 10%);
			}
		}
	}
}


/* forms */
.forms ul{
	width: 40%;
	height: 500px;
	position:relative;
	list-style:none;
	padding-right:1rem;
	
	label{
		width: 30%;
		height: 1.5rem;
		position:relative;
		text-align: right;
		float:left;
		clear:left;
		color:$yellow;
	}
	input[type=text], input[type=password], p{
		width:60%;
		float:right;
		clear:right;
		box-sizing:border-box;
	}
	p{padding-top:1rem;}
	input[type=submit]{
		border:none;
		background-color:$red;
		height: 2rem;
		width: 4.5rem;
		font-size: 0.75rem;
		display:block;
		&:hover{
			background-color: darken($red, 10%);
		}
	}
}
